PORT=8080
IS_LOCAL=1
APP_PATH=/index.html

RDS_HOSTNAME=localhost
RDS_PORT=3306
RDS_USERNAME=root
RDS_PASSWORD=
RDS_DB_NAME=ReadiumData

REDIS_HOSTNAME=localhost
REDIS_PORT=6379

SESSION_SECRET=secret
SESSION_MAXAGE=86400000