<div id='highlightOpts'>
    <div class='highlightOpts-line highlightOpts-highlightline'>
        <span class='highlightOpts-label'>{{{strings.biblemesh_highlight}}}</span>
        <div class='highlightOpts-box highlightOpts-box-0 highlightOpts-sel' data-choice='0'>
            <div class="highlightOpts-box-coloring highlightOpts-box-coloring-0"></div>
        </div>
        <div class='highlightOpts-box highlightOpts-box-1' data-choice='1'>
            <div class="highlightOpts-box-coloring highlightOpts-box-coloring-1"></div>
        </div>
        <a class='highlightOpts-share' target='_blank'>{{{strings.biblemesh_share}}}</a>
        <a class='highlightOpts-copy' target='_blank'>{{{strings.biblemesh_copy}}}</a>
        <a class='highlightOpts-addnote' target='_blank'>{{{strings.biblemesh_add_note}}}</a>
    </div>
    <div class='highlightOpts-line highlightOpts-faded'>
        <span class='highlightOpts-label'>{{{strings.biblemesh_notes}}}</span>
        <div class='highlightOpts-note'>
            <textarea class='highlightOpts-note-text'></textarea>
        </div>
    </div>
    <div class='highlightOpts-line highlightOpts-faded'>
        <div class='highlightOpts-saving'>{{{strings.biblemesh_saving}}}</div>
        <div class='highlightOpts-saved'>{{{strings.biblemesh_saved}}}</div>
    </div>
    <div class='highlightOpts-msg'><div class='highlightOpts-msg2'></div></div>
</div>