<div id='highlightOpts'>
    <div class='highlightOpts-line highlightOpts-highlightline'>
        <span class='highlightOpts-label'>{{{strings.biblemesh_highlight}}}</span>
        <div class='highlightOpts-box highlightOpts-box-0 highlightOpts-sel' data-choice='0'></div>
        <div class='highlightOpts-box highlightOpts-box-1' data-choice='1'></div>
    </div>
    <div class='highlightOpts-line highlightOpts-faded'>
        <span class='highlightOpts-label'>{{{strings.biblemesh_notes}}}</span>
        <div class='highlightOpts-note'>
            <textarea class='highlightOpts-note-text'></textarea>
        </div>
    </div>
    <div class='highlightOpts-line highlightOpts-faded'>
        <span class='highlightOpts-label'>{{{strings.biblemesh_share}}}</span>
        <div class='highlightOpts-share'>f</div>
        <div class='highlightOpts-share'>t</div>
        <div class='highlightOpts-saving'>{{{strings.biblemesh_saving}}}</div>
        <div class='highlightOpts-saved'>{{{strings.biblemesh_saved}}}</div>
    </div>
</div>