<!-- biblemesh_ : several changes throughout this template -->

<!--<div class="btn-group navbar-left">
    <button id="aboutButt1" tabindex="1" type="button" class="btn icon-logo" data-toggle="modal" data-target="#about-dialog" title="{{strings.about}}" aria-label="{{strings.about}}"></button>
</div>-->
<div class="navbar-left">
    <a href="{{logo_link_href}}" class="navlink">
        <img class="navlogo" src="{{idp_logo_src}}" onerror="$(document.body).addClass('navlogonone');" onload="$(document.body).addClass('navlogoloaded');">
        <span class="navlogoalt">
            <span class="navlogoalt-letter">{{idp_first_letter_of_name}}</span>
            <span class="navlogoalt-name">{{idp_name}}</span>
        </span>
        <span class="navlogo-readertxt">{{reader_txt}}</span>
    </a>
</div>
<div class="navbar-left navbar-left-small-logo">
    <a href="{{logo_link_href}}" class="navlink">
        <img class="navlogo" src="{{idp_small_logo_src}}">
        <span class="navlogoalt">
            <span class="navlogoalt-letter">{{idp_first_letter_of_name}}</span>
        </span>
    </a>
</div>
<div class="btn-group navbar-right">
    <button tabindex="1" type="button" class="btn icon-thumbnails" title="{{strings.thumbnail_view}}" aria-label="{{strings.thumbnail_view}}">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
    </button>
    <button tabindex="1" type="button" class="btn icon-list-view" title="{{strings.list_view}}" aria-label="{{strings.list_view}}">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
    </button>
    <button id="addbutt" tabindex="1" type="button" class="btn icon-add-epub" title="{{strings.biblemesh_import_books}}" aria-label="{{strings.biblemesh_import_books}}" data-toggle="modal" data-target="#add-epub-dialog">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    <div id="navuser">
        <div id="navusername">{{firstname}}</div>
        <div id="navuserarrow"></div>
        <div id="navuserpulldown">
            <!--<div id="navusersettings" class="navuseritem">{{strings.settings}}</div>-->
            <!--<a href="/logout/callback" class="linkbtn"><div id="navuserlogout" class="navuseritem">{{strings.biblemesh_logout_reader}}</div></a>-->
            <a href="/usage_costs" class="linkbtn" target="_blank"><div id="navusagecosts" class="navuseritem">{{strings.biblemesh_usage_costs}}</div></a>
            <a href="/logout" class="linkbtn"><div id="navuserlogoutall" class="navuseritem">{{logout_of_idp}}</div></a>
            <div class="navuserpulldownhr"></div>
            <a target="_blank" href="{{idp_ios_app_href}}" class="linkbtn"><div id="navioslink" class="navuseritem">{{strings.biblemesh_get_ios_app}}</div></a>
            <a target="_blank" href="{{idp_android_app_href}}" class="linkbtn"><div id="navandroidlink" class="navuseritem">{{strings.biblemesh_get_android_app}}</div></a>
            <div class="navuserpulldownhr" style="{{non_toadreader_style}}"></div>
            <a href="https://toadreader.com" class="linkbtn" style="{{non_toadreader_style}}" target="_blank">
                <div id="navlaunch" class="navuseritem">
                    <div class="navlaunchline1">{{strings.biblemesh_launch_ereader}}</div>
                    <div class="navlaunchline2">{{strings.biblemesh_get_ereader}}</div>
                </div>
            </a>
        </div>
    </div>
    <!--<button id="settbutt1" tabindex="1" type="button" class="btn icon-settings" title="{{strings.settings}} [{{keyboard.ShowSettingsModal}}]" aria-label="{{strings.settings}} [{{keyboard.ShowSettingsModal}}]" accesskey="{{keyboard.accesskeys.ShowSettingsModal}}" data-toggle="modal" data-target="#settings-dialog">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </button>-->
</div>