@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.rd-highlight.hover-user-highlight,
.rd-highlight.user-highlight,
.rd-highlight.hide-hover-user-highlight,
.highlightOpts-box-coloring-1 {
    background: #1C60AB;
}

.rd-highlight.hover-user-highlight {
    position: absolute;
    opacity: 0.4;
}

.rd-highlight.user-highlight,
.rd-highlight.hide-hover-user-highlight {
    position: absolute;
    opacity: 0.2;
}

.rd-highlight.sel-highlight, .rd-highlight.hover-sel-highlight {
    position: absolute;
    opacity: 0.2;
    background-color: black;
}

#highlightOpts {
    position: absolute;
    background: white;
    z-index: 2000;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-radius: 4px;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#highlightOpts.nonote {
    padding: 10px;
}

.highlightOpts-addnote,
#highlightOpts.nonote .highlightOpts-label,
#highlightOpts.nonote .highlightOpts-line:nth-child(n+2) {
    display: none;
}

.highlightOpts-label {
}

.highlightOpts-line {
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.highlightOpts-line.highlightOpts-faded {
    opacity: .2;
}

.highlightOpts-box {
    display: inline-block;
    width: 25px;
    height: 20px;
    border: 1px solid #999;
    vertical-align: middle;
    border-radius: 2px;
    margin: 0 2px;
    text-align: center;
    position: relative;
}

.highlightOpts-box-coloring {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .4;
}

.highlightOpts-note-text {
    width: 100%;
    box-sizing: border-box;
    height: 90px;
    padding: 6px;
    font-size: 13px;
}

.highlightOpts-box.highlightOpts-sel::after {
    content: '✓';
    position: relative;
}

.highlightOpts-box:not(.highlightOpts-sel):hover {
    cursor: pointer;
    border-color: black;
}

.highlightOpts-saving, .highlightOpts-saved {
    position: absolute;
    top: 0;
    right: 0;
}

.highlightssaving .highlightOpts-saved, .highlightOpts-saving {
    display: none;
}

.highlightssaving .highlightOpts-saving, .highlightOpts-saved {
    display: block;
}

.highlightOpts-undo, .highlightOpts-share, .highlightOpts-copy, #highlightOpts.nonote .highlightOpts-addnote {
    float: right;
    color: #1c60ab;
    text-decoration: none;
    margin: 0 5px;
    display: block;
    cursor: default;    
}

.highlightOpts-undo:hover, .highlightOpts-share:hover, .highlightOpts-copy:hover, #highlightOpts.nonote .highlightOpts-addnote:hover:not(.disabled) {
    cursor: pointer;
    color: #6399D5;
}

.highlightOpts-share {
    margin-right: 0;
}

.disabled {
    opacity: .3;
}

.highlightOpts-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
    vertical-align: middle;
    display: table;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

.highlightOpts-msg2 {
    display: table-cell;
    vertical-align: middle;
}

.highlightOpts-msg.show {
    opacity: 1;
}

.highlightOpts-msg.top {
    z-index: 2;
}


